alias lsh="ls -lh"
alias lst="ls -lhrt"
alias dfh="df -h"
alias duh="du -sh"
alias dum="du -sm"
alias cd1="cd .."
alias cd2="cd ../.."
alias cd3="cd ../../.."
alias cd4="cd ../../../.."
alias cd5="cd ../../../../.."
HISTSIZE=5000
HISTFILESIZE=5000
export HISTCONTROL=erasedups
export EDITOR=vim
